// Colors
$color-white: #ffff;
$color-black: #000;

// Primary Colors
$color-primary-dark: #3f3459;
$color-primary: #645389;
$color-primary-light: #b2a2c1;
$color-primary-extra-light: #e7e3ec;

// Gray
$color-gray-middle: #444;
$color-gray-dark: #222;
$color-gray-3: #fff9;
$color-gray-4: #fff3;
$color-gray-bg: #eee;
$color-gray-bg-home: #eef0f4;
$color-muted: #6c757d;

$color-blue-dark: #a2d3c7;
$color-blue: #a2d2ec;

$color-gold: #8b8000;

$color-visited: #ccc;
$color-unvisited: #58a6ff;
