.home {
  flex: 1 1;
  height: 100vh;
  margin-left: 0px;
  transition: 0.3s;

  &--full {
    margin-left: 40rem;
    transition: 0.3s;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: $color-gray-bg-home;
  }

  &__empty-animation {
    img {
      width: 100%;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}
