.post {
  $inner-spacing: 2rem;

  @media (min-width: 576px) {
    display: flex;
    min-width: 40rem;
  }

  &__wrapper {
    width: 100%;
    max-width: 40rem;
    margin-bottom: $inner-spacing;
    box-shadow: 0 0.5rem 1rem #00000026 !important;
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  &__image {
    max-width: calc(100% - 4rem);
    margin: $inner-spacing auto 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: $inner-spacing;
    text-align: center;
    font-size: 1.6rem;
  }

  &__footer {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    padding: $inner-spacing;

    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
    background-color: $color-gray-dark;
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    * {
      color: $color-white;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    small {
      color: $color-primary-extra-light !important;
      font-size: 80%;
      font-weight: 400;
    }
  }

  &__author {
    margin-bottom: 0.5rem;
  }

  &__comments {
    margin-top: auto;
  }
}
